@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header{
  background: #F9ECFD;
  width: 100%;
}

header h1.logo{
  padding: 0 2rem;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
}

header h1.logo span{
  color: #cb48f0;
  font-weight: bold;
}