.container{
  max-width: 100%;
}

.index{
  flex: 1 1;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #F8F8F8;
}

.index .interact{
  width: 50%;
  margin: 2rem auto 0 2rem;
}

.interact .title{
  font-weight: 900;
  font-size: 4rem;
  text-align: left;
  color: #414042;
  margin-top: 4rem;
  width: auto;
}

.interact .description{
  width: auto;
  margin: 10px 40px 10px 0;
  text-align: left;
  font-size: 20px;
}

.main {
  padding: 5rem 0;
  max-width: 1440px;
  margin: 0 auto;
}


.bigButton{
  padding: 0.7rem 1.6rem;
  margin: 6rem auto ;
  width: 184px;

  background: #48D7A1;
  border: none;
  display: block;

  color: #414042;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;

  box-shadow: 12px 12px, 11px 11px, 10px 10px, 9px 9px, 8px 8px, 7px 7px, 6px 6px, 5px 5px, 4px 4px, 3px 3px, 2px 2px, 1px 1px #414042;
}

.bigButton:hover{
  background: #41dfa2;
}

.ccm{
  margin: 0 20px 0 700px;
}

.respondida{
  background-color: #56C3EA;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 6rem;
  font-weight: 500;
}

.title,
.description {
  text-align: center;
}

.questionImg{
  margin-left: -10px;
  margin-top: -0.3px;
  width: fit-content;
  height: fit-content;
}

.question{
  text-align: left;
  font-size: 2.5rem;
  color: #56C3EA;
  font-weight: 900;

  padding: 1rem 0;
  border-radius: 2rem;
}

.action{
  margin: 0 calc(50% - 120px) ;
  margin-top: 3rem;
}

.answerActionsButtons{
  padding: 0.6rem 3rem;
  margin: 0 2rem;
  background: #48D7A1;
  border: none;

  color: #414042;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;

  box-shadow: 12px 12px, 11px 11px, 10px 10px, 9px 9px, 8px 8px, 7px 7px, 6px 6px, 5px 5px, 4px 4px, 3px 3px, 2px 2px, 1px 1px #414042;
}

.progress{
  font-style: 'Lato', sans-serif;
  font-weight: 700;
  color: #414042;
  font-size: 2rem;
  margin: 0;
}

.ansButton{
  background-color: transparent;
  border-radius: 1rem;
  border: 2px solid transparent;

  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #414042;

  padding: 0.4rem 1rem;
  cursor: pointer;

  transition: all 0.2s;
  width: calc(25% - 1rem);
  height: 250px;
}

.ansButton:hover{
  border: 2px solid #4C4B4D;
}


.ansButton p{
  padding-top: 10px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: nowrap;
  margin-top: 1rem;
  gap: 1rem;

  width: 100%;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  vertical-align: center;
}

.result{
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: #414042;
  margin-top: -3rem;
  margin-bottom: 3rem;
}

.result b{
  font-weight: 900;
  font-size: 2.6rem;
}

.coruja{
  position: relative;
  left: -1.5rem;
}

.book{
  height: 600px;
  margin: 1rem auto 1rem;
  border-radius: 0.4rem;
  text-align: center;
}

.quadroLivro{
  position: relative;
  background: url("../src/images/quadrofinal2.png");
  margin: 0 auto;
  max-width: 715px;
  height: 417px;
  background-size: cover;
  display: flex;
}

.info{
  text-align: left;

}

.quadroLivro .head{
  position: relative;
  top: 4rem;
  color: #414042;
}

.quadroLivro .tituloLivro{
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
}

.quadroLivro .escritor{
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  margin-top: -5px;
}

.quadroLivro .livros{
  display: flex;
  position: relative;
  top: 18%;
}

.quadroLivro .livros .capa{
  padding: .3rem;
  background-color: white;
  margin: 0 50px 0 80px;
  height: 265px;
  overflow: hidden;
}

.livros .arrow{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: none;
  margin: auto;

  background-color: #48D7A1;
  box-shadow: 0px 8px #97801a;
}

.quadroLivro .sinopse{
  position: relative;
  top: 5rem;
  width: 330px;
  max-height: 220px;
  overflow: scroll;

  text-align: left;
  font-size: 13px;
  font-weight: 600;
  color: #414042;
}

.quadroLivro .sinopse::-webkit-scrollbar{
  background: transparent;
  width: 10px;
}

.quadroLivro .sinopse::-webkit-scrollbar-corner{
  background: transparent;
}

.quadroLivro .sinopse::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background: #dbb509;
}

.footer {
  display: flex;
  position: relative;
  top: -300px;

  margin: 0 auto 0;
  justify-content: center;
  align-items: center;
}

.footer hr{
  height: 60px;
  border-left: 2px solid #414042
}

.footer .bigButton{
  margin-left: 50px;
  margin-top: 80px;
}

.footer .description {
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: left;

  margin: 0 40px 0 auto;
  display: flex;
  justify-content: center;
}

.local{
  padding-left: 15px;
  color: #414042;
}

.local p b{
  font-size: 18px;
}

.local p{
  font-size: 12px;
}

@media (max-width: 1200px) {
  .interact .title{
    width: 500px;
    margin-top: 0;
  }

  .answerActionsButtons{
    margin-top: 1rem;
  }

  .ansButton p {
    font-size: 0.8rem;
  }
}
