.container{
  max-width: 100%;
}

.index{
  flex: 1 1;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #F8F8F8;
}

.index .interact{
  width: 50%;
  margin: 2rem auto 0 2rem;
}

.interact .title{
  font-weight: 900;
  font-size: 4rem;
  text-align: left;
  color: #414042;
  margin-top: 4rem;
}

.interact .description{
  width: 400px;
  margin: 40px 0;
  text-align: left;
  font-size: 1rem;
}

.main {
  padding: 5rem 0;
  max-width: 1440px;
  margin: 0 auto;
}

.ccm{
  margin: 0 0 0 30rem;
}

.slider{
  display: flex;
}

.respondida{
  background-color: #56C3EA;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 6rem;
  font-weight: 500;
}

.title,
.description {
  text-align: center;
}

.questionImg{
  margin-left: -10px;
}

.question{
  text-align: left;
  font-size: 2.5rem;
  color: #56C3EA;
  font-weight: 900;

  padding: 1rem 0;
  border-radius: 2rem;
}

.action{
  margin-top: 3rem;
}

.answerActionsButtons{
  padding: 0.6rem 3rem;
  margin: 0 2rem;
  background: #48D7A1;
  border: none;

  color: #414042;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;

  box-shadow: 12px 12px, 11px 11px, 10px 10px, 9px 9px, 8px 8px, 7px 7px, 6px 6px, 5px 5px, 4px 4px, 3px 3px, 2px 2px, 1px 1px #414042;
}

.bigButton{
  padding: 1rem 2rem;
  margin: 6rem auto;
  background: #48D7A1;
  border: none;
  display: block;

  color: #414042;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  cursor: pointer;

  box-shadow: 12px 12px, 11px 11px, 10px 10px, 9px 9px, 8px 8px, 7px 7px, 6px 6px, 5px 5px, 4px 4px, 3px 3px, 2px 2px, 1px 1px #414042;
}

.bigButton:hover{
  background: #41dfa2;
}

.progress{
  font-style: 'Lato', sans-serif;
  font-weight: 700;
  color: #414042;
  font-size: 2rem;
  margin: 0;
}

.respImg{
  padding-top: 1.8rem;
  max-width: 100%;
}

.ansButton{
  background-color: transparent;
  border-radius: 1rem;
  border: 2px solid transparent;

  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #414042;

  padding: 0.4rem 1rem;
  cursor: pointer;

  transition: all 0.2s;
  width: calc(25% - 1rem);
  min-height: 12rem;
}

.ansButton:hover{
  border: 2px solid #4C4B4D;
}

.ansButton p{
  height: 3rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: nowrap;
  margin-top: 3rem;
  gap: 1rem;

  width: 100%;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  vertical-align: center;
}

.result{
  text-align: center;
  font-family: 'Lato', sans-serif;
  display: block;
  font-size: 1.6rem;
  color: #414042;
}

.result b{
  font-weight: 900;
  font-size: 2.6rem;
}

.book{
  height: 600px;
  margin: 1rem auto;
  border-radius: 0.4rem;
  text-align: center;
}

.coruja{
  margin: 0.5rem auto;
  position: relative;
  left: -15rem;
}

.quadroLivro{
  position: relative;
  top: -20px;
  background: url("../src/images/quadrofinal.png");
  margin: 0 auto;
  max-width: 669px;
  height: 999px;
  background-size: cover;
  display: block;
}

.quadroLivro .head{
  position: relative;
  top: 4rem;
  color: #414042;
}

.quadroLivro .tituloLivro{
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
}

.quadroLivro .escritor{
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}

.quadroLivro .livros{
  display: flex;
  position: relative;
  top: 10%;
}

.quadroLivro .livros .capa{
  padding: 1.6rem;
  background-color: white;
  
  box-shadow: 0px 8px #97801a;
}

.livros .arrow{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: none;
  margin: auto;

  background-color: #48D7A1;
  box-shadow: 0px 8px #97801a;
}

.quadroLivro .sinopse{
  position: relative;
  top: 8.6rem;
  margin: 0 5rem;

  text-align: justify;
  font-size: 17px;
  color: #414042;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: left;

  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.local{
  padding-left: 15px;
}

.footer {
  display: block;
  position: relative;
  top: 2rem;

  margin: 400px auto 0;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1200px) {
  .interact .title{
    width: 500px;
    margin-top: 0;
  }

  .answerActionsButtons{
    margin-top: 1rem;
  }

  .ansButton p {
    font-size: 0.8rem;
  }
}
